{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid text-center h-25 bg-light text-dark p-3 mb-2">
    <h1>Welcome to the Chmod List</h1>
    <p>Browse your favorite movies !</p>
</div>

<div class = 'container center'>
    <div class = 'row'>
        {% for movie in movies.results|slice(0, 12) %}
            <div class = 'col'>
                <div class="card" style="width: 18rem;">
                    <img src="http://image.tmdb.org/t/p/w300{{ movie.poster_path }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            {# <p class="card-text">{{ movie.overview|slice(0,70) }}...</p> #}
                            <a href="{{ path('movie_details', {'id': movie.id}) }}" class="btn btn-primary">See Movie</a>
                        </div>
                </div>
            </div>
        {% endfor %}
            
    </div>
</div>




{% endblock %}

