{% extends "base.html.twig" %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Bienvenue sur la Chmod List</h1>
    <p>Lorem Ipsum</p>
</div>

<div class = 'container center'>
    <div class = 'row'>
        {% for movie in movies.results|slice(0, 12) %}
            <div class = 'col'>
                <div class="card" style="width: 18rem;">
                    <img src="http://image.tmdb.org/t/p/w300{{ movie.poster_path }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.overview|slice(0,70) }}...</p>
                            <a href="#" class="btn btn-primary">Voir Film</a>
                        </div>
                </div>
            </div>
        {% endfor %}
            
    </div>
</div>




{% endblock %}

