my_movies_lists/src/Migrations/Version20190411134715.php
my_movies_lists/src/Migrations/Version20190411145847.php
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.idea/Symfony_Project.iml
